@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

#color1 {
  background-color: #8789c0; 
}

#color2 {
  background-color: #45F0DF; 
}

#color3 {
  background-color: #C2CAE8; 
}

#color4 {
  background-color: #8380B6; 
}

#color5 {
  background-color: #111d4A; 
  color: white; 

}

body {
  margin: 0;
  background-color: #C2CAE8; 
}

#name { 
  position: sticky; 
  top: 0;  
  padding: 0.15em; 
  font-family: 'Montserrat', sans-serif;
  font-size: 30px; 
  font-weight: 900; 
  color: #111d4A;  
  letter-spacing: 8px;
  text-align: center; 
  background-color: #C2CAE8; 
  z-index: 1; 
}